{{!-- This page will return "My Trips" (when logged in; redirects to login/signup if not" --}}
<div class="row">
  <div class="col-auto">
    <h2>My Trips</h2>
  </div>
</div>
{{#each trips as |trip|}}
<div class="row">
  <a href="/trip/{{trip.id}}" class="col">
    <h3>
      {{trip.name}}
    </h3>
  </a>
  <a href="/trip/{{trip.id}}" class="col">
    <p>
      Start Date: {{trip.start_date}}
    </p>
    <p>
      End Date: {{trip.end_date}}
    </p>
  </a>
  <div class="col">
    <a href="/trip/{{trip.id}}/packlist">
      <button type="button" class="btn btn-info" id="pack-list">Packing List</button>
    </a>
  </div>
    <div class="col">
      <a href="/trip/{{trip.id}}/journal">
        <button type="button" class="btn btn-info" id="journal">Journal</button>
      </a>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-danger" data-id="{{trip.id}}" id="delete" ><i class="far fa-trash-alt"></i></button>
  </div>
</div>
{{/each}}
<button type="button" class="btn btn-success" id="new-trip">New Trip!</button>

<script src="/js/dashboard.js"></script>