<h2>{{location_name}}</h2>
<div class="fling-right">
    <a href="/trip/{{trip.id}}/packlist">
        <button type="button" class="btn custom-btn" id="pack-list">Packing List</button>
    </a>
    <a href="/trip/{{trip.id}}/journal">
        <button type="button" class="btn custom-btn" id="journal">Journal</button>
    </a>
</div>
<div class="single-location">
    <p><em>Address:</em> {{location_address}}</P>
    <p><em>Contact Info:</em> {{contact}}</p>
    <p><em>Arrive on:</em> {{start_date}}</p>
    <p><em>Leave on:</em> {{end_date}}</p>
    <p><em>Travel by:</em> {{vehicle}}</p>
    {{#if transit_details}}
    <p><em>Travel notes:</em> {{transit_details}}</p>
    {{/if}}
    <p><em>Activities:</em> {{location_activities}}</p>
</div>
<a href="/trip/{{trip.id}}">
    <button type="button" class="btn custom-btn">Back to {{trip.name}}</button>
</a>