<h2>{{name}}</h2>
<a href="/trip/{{id}}/packlist">
    <button type="button" class="btn btn-info" id="pack-list">Packing List</button>
</a>
<a href="/trip/{{id}}/journal">
    <button type="button" class="btn btn-info" id="journal">Journal</button>
</a>
<div class="my-locations">
    {{#each locations as |location|}}
    <div class="row custom-row">
        <a href="/trip/{{trip_id}}/locations/{{location.id}}" class="col-md-2 align-self-center">
            {{location.location_name}}
        </a>
        <a href="/trip/{{trip_id}}/locations/{{location.id}}" class="col-md-3 align-self-center">
            {{location.location_address}}
        </a>
        <a href="/trip/{{trip_id}}/locations/{{location.id}}" class="col-md-3 align-self-center">
            <p>
                <em>From:</em> {{location.start_date}}
            </p>
            <p>
                <em>To:</em> {{location.end_date}}
            </p>
        </a>
        <a href="/trip/{{trip_id}}/locations/{{location.id}}" class="col-md-3 align-self-center">
            <p><em>Traveling by:</em> {{location.vehicle}}</p>
            <p><em>Transit Details:</em> {{location.transit_details}}</p>
        </a>
        <div class="col-md-1 align-self-center">
            <button type="button" class="btn btn-danger custom-delete-btn" data-trip="{{trip_id}}" data-id="{{id}}"
                id="delete">Delete</button>
        </div>
    </div>
    {{/each}}
</div>
<a href="/">
    <button type="button" class="btn btn-info">Back to My Trips</button>
</a>
<button type="button" id="reveal-new-location" class="btn add-btn">Add New Location</button>
<form class="hidden" id="new-location">
    <div class="form-group">
        <label for="location-name">Location Name:</label>
        <input type="text" class="form-control" id="location-name" placeholder="Enter Location">
    </div>

    <div class="form-group">
        <label for="location-address">Location Address:</label>
        <input type="text" class="form-control" id="location-address" placeholder="Enter the Address">
    </div>
        <div class="form-group">
        <label for="location-address">Contact Info:</label>
        <input type="text" class="form-control" id="contact-info" placeholder="Enter any contact info">
    </div>

    <div class="form-group">
        <label for="vehicle">Vehicle/Mode of Transportation:</label>
        <input type="text" class="form-control" id="vehicle" placeholder="Enter Vehicle/Mode of Transportation">
    </div>

    <div class="form-group">
        <label for="transit-details">Transit Details:</label>
        <input type="text" class="form-control" id="transit-details"
            placeholder="Enter any helpful information regarding your transit to this location.">
    </div>

    <div class="form-group">
        <label for="datepicker">Start date: </label>
        <input type="date" id="start-date">
    </div>
    <div class="form-group">
        <label for="datepicker">End date: </label>
        <input type="date" id="end-date">
    </div>

    <div class="form-group">
        <label for="location-activities">Activities:</label>
        <input type="text" class="form-control" id="location-activities"
            placeholder="Enter the activities you will enjoy at this location.">
    </div>

    <button type="submit" class="btn btn-primary add-location add-btn" data-id="{{id}}" id="submit-entry">Submit</button>
</form>

<script src="/js/trip.js"></script>